.body {
  background-image: linear-gradient(to left, pink, aliceblue);
}
.search-section {
  margin-left: 34%;

  &_title {
    color: darkcyan;
    font-size: 35px;
    width: 36vw;
    margin: 20px;
  }

  &_input {
    border: solid 1px cyan;
    width: 200px;
    height: 30px;
    font-family: $font-family;
  }
}

.searchBtn,
.resetBtn,
.deleteAllBtn {
  border-radius: 5%;
  background-color: lightcyan;
  border: solid 1px cyan;
  color: darkcyan;
  cursor: pointer;
  padding: 6px;
  font-family: $font-family;
}

.containers-box {
  display: flex;
  flex-direction: row;
  margin: 20px 200px;

  &_list {
    width: 500px;
    border: solid 2px cyan;

    &-inside {
      text-align: center;
      background-color: pink;
      height: 50px;

      &-title {
        color: darkcyan;
        font-size: 25px;
        padding-top: 8px;
      }
    }
  }
}

.boxList {
  color: darkcyan;
  font-size: 20px;
  margin: 10px;
}

// special classes

.drink,
.drink-fav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 30%;
  width: 150px;

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_title {
    margin: 10px 0 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  &_img {
    width: 120px;
  }
}

.favourite {
  background-color: darkcyan;
  color: pink;
  padding-bottom: 30px;
  margin-left: 30%;
  width: 150px;
}
.delete-btn {
  border: solid 1px fuchsia;
  padding: 0 3px;
  background-color: pink;
  font-size: 12px;
  height: 17px;
  margin-left: 5px;
}
